{% extends "base.html" %}
{% block content %}

<h2>PDF maker</h2>
<p>
Make POST request to <a id="host" href="">endpoint</a>, for example:
<pre id="example">
something
</pre>

<script>
var url = window.location.href.split('?').pop();
url = url.replace("/genpdf", "");
document.querySelector("#host").href = `${url}/genpdf`;
const data = {name: "Your name", request: "anything you want to write"};
document.querySelector("#example").firstChild.data = "$ curl -X POST " + url + "/genpdf -d '" + JSON.stringify(data) + "' -o ex.pdf" +
		"\n$ evince ex.pdf";
</script>
{% endblock %}
